<div class="jumbotron">
    <h1>TQS Project</h1>
    <p class="lead">TQS Project for Esquel TDC QA team</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting source code</h2>
        <p>https://github.com/ChenWes/TQS-ETS-API/.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>issue</h2>
        <p>https://github.com/ChenWes/TQS-ETS-API/issues</p>
        <p><a class="btn btn-default" href="https://github.com/ChenWes/TQS-ETS-API/issues">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>API</h2>
        <p>http://localhost:61234</p>
        <p><a class="btn btn-default" href="http://localhost:61234">Go &raquo;</a></p>
    </div>
</div>
